.videoList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.videoList h4 {
  margin-bottom: 5px;
  color: #fbbc05;
}

.videoItem {
  cursor: pointer;
}

.videoItem img {
  border-radius: 7px;
}

@media screen and (min-width: 768px) {
  .videoList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .videoItem {
    width: 330px;
  }

  video {
  }
}

@media screen and (min-width: 1280px) {
  .videoList {
    gap: 20px 30px;
  }

  .videoItem {
    width: 363px;
  }

  video {
    width: 100%;
    height: 260px;
  }
}
