.container {
  width: 100vw;
  padding: 0 20px;
  margin: 0 auto;
  /* display: flex;
  justify-content: center; */

  min-height: 100vh;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.section {
  width: 100%;
  min-height: calc(100vh - 112px);
}

/* .homeBg .section {
  background-image: url("../../images/videocamera.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
} */

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
    margin-bottom: 30px;
  }

  .section {
    min-height: calc(100vh - 112px);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 64px;
    margin-bottom: 40px;
  }
}
